.rocketContainer {
    padding-top: 100px;
    margin: 0;
}

.rocket {
    max-width: 100%;
    height: 250px;
    display: flex;
    flex: column wrap;
    padding: 20px 40px;
    gap: 20px;
}

.rocketImg {
    max-width: 25%;
}

.rocketTxt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

i {
    color: white;
    background-color: rgb(3, 175, 184);
    padding: 0 8px;
    border-radius: 8px;
}

.rocketButton {
    align-self: flex-start;
}