* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-bordered {
  margin-top: 95px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
